coach-ZVhoZjA7JlzVBkbD.json
{"createdAt":"2025-06-21T18:03:51.176Z","updatedAt":"2025-10-13T19:49:46.000Z","id":"ZVhoZjA7JlzVBkbD","name":"Coach","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[2768,2800],"id":"bbf502e0-992a-4587-94fc-ae9b56f5601e","name":"When chat message received","webhookId":"0e571961-a366-4d8f-b0c5-1c3dfc37eee3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[3712,880],"id":"33fa9ca6-5954-45d8-8355-2677040fa4c5","name":"Mistral Cloud Chat Model9","credentials":{"mistralCloudApi":{"id":"txxq6WpKaKM3E42X","name":"Mistral Cloud account"}}},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Name","description":"This attribute contains the name of the training cycle","required":true},{"name":"Workout_Weeks","type":"number","description":"This attribute contains the duration of this training cycle","required":true},{"name":"Monday","description":"This attribute contains the exercises and sets on a monday. split exercises with \\n"},{"name":"Tuesday","description":"This attribute contains the exercises and sets on a tuesday. split exercises with \\n"},{"name":"Wednesday","description":"This attribute contains the exercises and sets on a wednesday. split exercises with \\n"},{"name":"Thursday","description":"This attribute contains the exercises and sets on a thursday. split exercises with \\n"},{"name":"Friday","description":"This attribute contains the exercises and sets on a friday. split exercises with \\n"},{"name":"Saturday","description":"This attribute contains the exercises and sets on a saturday. split exercises with \\n"},{"name":"Sunday","description":"This attribute contains the exercises and sets on a sunday. split exercises with \\n"},{"name":"Workout_Days","type":"number","description":"Workout days per week","required":true}]},"options":{"systemPromptTemplate":"=You are an expert extraction algorithm.\nYour task is to extract training cycle information from the text and return it in a strictly defined JSON format.\n\n**Rules:**\n- Extract the name of the training cycle and assign it to the \"Name\" field.\n- Extract the number of weeks and assign it to the \"Workout_Weeks\" field as a number.\n- Extract the number of workout days per week and assign it to the \"Workout_Days\" field as a number.\n- For each day (Monday to Sunday), extract the exercises together with the sets.\n- Each Day has to be a newline-separated string.\n- If a day has no exercises, assign an empty string to that day.\n- Always return a valid JSON object with all fields, even if some are empty.\n\n**Output Format:**\nThe output must be a valid JSON object with the following fields:\nName, Workout_Weeks, Workout_Days, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[3648,672],"id":"e2c05344-4d27-4b00-a95f-4301a5acc638","name":"Training Cycle Extractor"},{"parameters":{"jsCode":"const input = $input.all()[0].json.output;\nconst zyklusName = input.Name;\nconst zyklusDauer = input.Workout_Weeks;\nconst zyklusWorkoutDays = input.Workout_Days;\n\n// Liste der Wochentage und zugehörige Übungen\nconst wochentage = {\n  \"Monday\": input.Monday,\n  \"Tuesday\": input.Tuesday,\n  \"Wednesday\": input.Wednesday,\n  \"Thursday\": input.Thursday,\n  \"Friday\": input.Friday,\n  \"Saturday\": input.Saturday,\n  \"Sunday\": input.Sunday\n};\n\nconst result = [];\nObject.keys(wochentage).forEach(wochentag => {\n  const übungen = wochentage[wochentag].split(\"\\n\");\n  übungen.forEach(übungString => {\n    // Übungsname und Sätze extrahieren\n    const parts = übungString.split(\" \");\n    const name = parts.slice(0, -2).join(\" \"); // Übungsname (z. B. \"Pull Ups\")\n    const sätze = parts[parts.length - 2]; // \"3\" (Sätze)\n    const wiederholungen = parts[parts.length - 1]; // \"Sätze\" oder \"Maximale Sekunden\"\n\n    result.push({\n      zyklus: zyklusName,\n      zyklus_dauer: zyklusDauer,\n      zyklus_workoutdays: zyklusWorkoutDays,\n      wochentag: wochentag,\n      übung: name,\n      sätze: sätze,\n      wiederholungen: wiederholungen.includes(\"Sekunden\") ? \"Maximale Dauer\" : wiederholungen\n    });\n  });\n});\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,672],"id":"077b9087-8e3d-4018-ab22-6976e05c8c05","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[6880,-1120],"id":"7bc1bf93-0edf-4877-81c6-37b1897abcbb","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4208,672],"id":"20d61dd1-20d2-40c7-abc2-9f9aed788cd7","name":"Loop Over Items"},{"parameters":{"chatId":"-4794524069","text":"={{ $json.output.text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7008,-1360],"id":"4395e7ae-e914-4cf1-8b87-b84f74e535bd","name":"Send a text message","webhookId":"4ba4af82-3e72-4e05-b7cc-003aae8f57d6","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (tag:Wochentag {name: \"{{ $now.setLocale('en-EN').weekdayLong }}\"})-[:ENTHÄLT]->(übung:Übung)\nRETURN tag.name AS wochentag, collect({name: übung.name, sätze: übung.sätze, wiederholungen: übung.wiederholungen}) AS übungen"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[3648,-496],"id":"06c8d88f-9161-4293-b6c1-8769a34682ef","name":"Heutiges Training","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a92e28e3-04f9-4f38-aa2e-19cf161d5b4e","name":"text","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,784],"id":"3d067e54-ee45-44f2-81fb-b7fa5d642992","name":"Edit Fields1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3440,592],"id":"a5ab0c41-4e84-4de0-84e8-4a0334c055ef","name":"OpenAI1","credentials":{"openAiApi":{"id":"tO7FDa4E5FZCq1pE","name":"OpenAi account"}}},{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"-4794524069"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[1232,2304],"id":"c99d9317-d317-4515-91db-25229f16b0a4","name":"Telegram Trigger","webhookId":"d296e5e1-9af8-488a-8d7e-f7b1003e599b","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/help","operator":{"type":"string","operation":"equals"},"id":"152fe5b5-b17d-4bff-844e-749df4c57409"}],"combinator":"and"},"renameOutput":true,"outputKey":"Help"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bba1135e-0c02-4d32-bad6-ea2dd78b9263","leftValue":"={{ $json.message.text }}","rightValue":"/training","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Training Log"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c2cd59a-1876-4f7e-8768-7a6b742f6f09","leftValue":"={{ $json.message.text }}","rightValue":"/cycle","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Training Cycle"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fceef163-da6e-4019-abad-09190c01d3a2","leftValue":"={{ $json.message.text }}","rightValue":"/journal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Journal"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1456,2256],"id":"2f0ecfc4-f620-4196-9ece-60da044f161b","name":"Distributor1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.stdout }}","rightValue":"training_log_true","operator":{"type":"string","operation":"equals"},"id":"f5322ac6-4577-467b-9ca3-0ed4fc2b8c8f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Training Log"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47bcb4c2-f497-4e00-a8d7-10d0fcdabf79","leftValue":"={{ $json.stdout }}","rightValue":"training_cycle_true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Training Cycle"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3b11e283-5561-41d0-9dec-803ad568bc28","leftValue":"={{ $json.stdout }}","rightValue":"journal_true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Journal"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2064,2512],"id":"b0669274-a6c3-4de0-b146-52f7e0f66cfc","name":"Session Handler1"},{"parameters":{"command":"=test -f /tmp/telegram_training_log.txt && echo \"training_log_true\" || echo \"\"\ntest -f /tmp/telegram_cycle_log.txt && echo \"training_cycle_true\" || echo \"\"\ntest -f /tmp/telegram_journal.txt && echo \"journal_true\" || echo \"\"\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1872,2544],"id":"da787a3e-a796-4a8a-bc73-1441ec72df39","name":"Check Session Status1"},{"parameters":{"chatId":"-4794524069","text":"=/help - Hilfe zum Coach\n/training - Ich schick dir dein WoD (Workout of the Day) und du kannst interaktiv inline dein Training loggen\n/cycle - Schreib mir einfach deine Vorstellung, wie oft du in der Woche trainieren willst und was. Ich bau dir deinen Plan.\n/journal - Schreib mir, wie dein Tag lief und wie du dich heute fühlst. (Voice Message geht natürlich auch :))","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1712,2096],"id":"58b725d3-c97e-4f31-80e4-03d9c6ef4912","name":"Send Coach Instructions1","webhookId":"b11999dc-f947-4a41-a619-2b699ebfcf71","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"command":"touch /tmp/telegram_journal.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2992,880],"id":"58aeb120-7609-4122-9f37-577c2b33f69b","name":"Activate Journal Session1"},{"parameters":{"chatId":"-4794524069","text":"=Lass mal hören, wie dein Tag lief. Schlaf? Laune? Health Status?\n\n","replyMarkup":"forceReply","forceReply":{"force_reply":true,"selective":false},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3280,880],"id":"cfbdc78a-10da-48c1-b1cd-5c0193fc91d3","name":"Journal Einladung1","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"command":"rm -rf /tmp/telegram_journal.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[4928,512],"id":"d2c6b95e-9728-4f0d-ab7b-15fc8e05bac7","name":"Delete Journal Session1"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3216,592],"id":"492c3e9f-7363-40e7-b277-8543dfa2ddd3","name":"Get a file1","webhookId":"97c8cb9b-bcb4-419a-862e-68458ae644e8","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"2711c138-73a1-4a28-b58e-b0bd00d84058"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bb77b12-c967-4ab9-bc1d-dbb7a0037e4a","leftValue":"={{ $('Telegram Trigger').item.json.message.text || \"\" }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c50456e3-b76a-4f39-aba6-b7c01fe863e0","leftValue":"error","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2992,688],"id":"83cb65e3-5c4a-45fb-bd66-300ff78c0409","name":"Audio or Text"},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (zyklus:Trainingszyklus {status: \"aktiv\"})\nWHERE date() > zyklus.ende_datum\nRETURN zyklus.name AS abgelaufener_zyklus"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[6800,-800],"id":"d822137f-f0b2-4d21-9af2-6d2bea45fd25","name":"Aktiver Zyklus1","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"summarizationMethod":"stuff","prompt":"Write a concise summary of the following:\n\n\n\"{text}\"\n\n\nCONCISE SUMMARY:\nVerwende deutsch als Sprache. Halte dich so kurz wie möglich. Verwende auch Zahlen um die Wiederholungssätze so kurz wie möglich darzustellen. Teile klar auf die einzelnen Übungen auf. Nichts erfinden. Jede Übung nur ein mal."}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[6320,-1552],"id":"9d27eb3f-70c0-467d-acd9-3a700b8cf802","name":"Summarization Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[6464,-1264],"id":"f85627cc-bc81-4bcc-9024-1093a8fdacd7","name":"Mistral Cloud Chat Model10","credentials":{"mistralCloudApi":{"id":"txxq6WpKaKM3E42X","name":"Mistral Cloud account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4240,-496],"id":"b0715f40-ecfd-4646-823c-8ff01a1eb1e7","name":"Loop Over Items3"},{"parameters":{"chatId":"-4794524069","text":"=Übung: {{ $json.name }} <a href=\"{{ $execution.resumeUrl }}\">!</a>\nReps: {{ $json.wiederholungen }}\nSets: {{ $json.sätze }}\n\n\n","replyMarkup":"forceReply","forceReply":{"force_reply":true,"selective":false},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4560,-480],"id":"9a066417-62c0-4259-b5f0-aaf449957d26","name":"Send a text message3","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4768,-480],"id":"0999e42d-9908-4d38-ab97-be67c84ada4a","name":"Wait","webhookId":"1bd91725-ce8f-4773-9ab3-8205e6645cbe"},{"parameters":{"assignments":{"assignments":[{"id":"1ad7371d-e779-4bd1-bd8a-8a7b8003a035","name":"=sätze","value":"={{ $json.query.response }}","type":"string"},{"id":"515b12d8-8baa-492a-849e-743f3a972f6b","name":"übung","value":"={{ $('Loop Over Items3').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5056,-480],"id":"063b3950-f0da-49a2-a159-2fca35849084","name":"Set Training Log Data"},{"parameters":{"command":"rm -rf /tmp/telegram_training_log.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[4560,-656],"id":"7cda2f68-5b12-4d7e-9755-2382ca552c0b","name":"Delete Training Log Session1"},{"parameters":{"chatId":"-4794524069","text":"=Session beendet","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4768,-656],"id":"62ebebb0-37ac-420f-8d7e-f2a7963c9232","name":"Training Feedback2","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"jsCode":"// Input: Das JSON aus dem Execute Query Node\nconst data = $input.all()[0].json;\n\n// Gib das Array \"übungen\" direkt zurück\nreturn data.übungen;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3952,-496],"id":"2b41c6e7-91b8-4968-8294-968f3714b7ed","name":"Code in JavaScript1"},{"parameters":{"resource":"graphDb","cypherQuery":"=MERGE (zyklus:Trainingszyklus {name: \"{{ $json.zyklus }}\", dauer_in_wochen: {{ $json.zyklus_dauer }}, workoutdays_per_week: \"{{ $json.zyklus_workoutdays }}\", status: \"aktiv\"})\nMERGE (tag:Wochentag {name: \"{{ $json.wochentag }}\"})\nMERGE (übung:Übung {\n  name: \"{{ $json['übung'] }}\",\n  sätze: \"{{ $json['sätze'] }}\",\n  wiederholungen: \"{{ $json.wiederholungen }}\"\n})\nMERGE (zyklus)-[:ENTHÄLT]->(tag)\nMERGE (tag)-[:ENTHÄLT]->(übung)\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[4736,816],"id":"bfe4177a-f40f-4ea6-a934-13cbfc9165c9","name":"Insert Workout into Database","alwaysOutputData":true,"credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"MATCH (n) DETACH DELETE n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[1936,288],"id":"8e5452dd-4650-4bdd-a8de-a4929e77d1f2","name":"Alles löschen","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4416,576],"id":"e2534138-53f8-4b2f-a4a5-630295865856","name":"1 Message","executeOnce":true},{"parameters":{"chatId":"-4794524069","text":"=Cycle angelegt.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4672,544],"id":"250ca39e-2bab-4eb6-bcf8-168590a191df","name":"Cycle angelegt","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"content":"## ALLES LÖSCHEN","height":304,"width":464,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,192],"id":"3698c272-a6b7-438c-a66b-5962c8ad9ca6","name":"Sticky Note9"},{"parameters":{"resource":"graphDb","cypherQuery":"MATCH (zyklus:Trainingszyklus {name: \"2 - Neuer Schwung\"})\nOPTIONAL MATCH (zyklus)-[:ENTHÄLT]->(:Wochentag)-[:HAT_TRAINING]->(training:Training)\nWITH zyklus, count(training) AS erledigte_workouts\nWITH zyklus, erledigte_workouts, \n     (coalesce(toInteger(zyklus.workoutdays_per_week), 0) * coalesce(toInteger(zyklus.dauer_in_wochen), 0)) AS gesamt_workouts\nRETURN zyklus.name AS zyklus_name, \n       zyklus.workoutdays_per_week AS workoutdays_per_week, \n       zyklus.dauer_in_wochen AS dauer_in_wochen, \n       erledigte_workouts, \n       gesamt_workouts, \n       (erledigte_workouts >= gesamt_workouts) AS ist_abgeschlossen"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[6000,-688],"id":"ce68d381-d821-4471-803f-c58b2e8706f2","name":"Check Workouts in Cycle","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"MATCH (zyklus:Trainingszyklus {name: \"2 - Neuer Schwung\"})\nMATCH (zyklus)-[:ENTHÄLT]->(:Wochentag)-[:HAT_TRAININGSTAG]->(trainingstag:Trainingstag)\nUNWIND trainingstag.übungen AS übung\nWHERE übung.name = \"Pull Ups\"\nRETURN   trainingstag.datum AS datum,   übung.wiederholungen_erledigt AS wiederholungen,   trainingstag.übungen AS alle_übungen ORDER BY trainingstag.datum"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[6000,-880],"id":"d0e46328-a7f8-4f4f-8ad3-267add00b5e4","name":"Abfrage Übungsspezifisch","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"method":"POST","url":"={{ $('Telegram Trigger').item.json.message.reply_to_message.entities[0].url }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"response","value":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"options":{"timeout":100}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,2368],"id":"c8046aa5-0b16-47a2-b34c-19c59086b848","name":"HTTP Request","alwaysOutputData":false,"executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2848,2368],"id":"c77002ae-61b1-4362-9c4c-0deb97979b3e","name":"No Operation, do nothing1"},{"parameters":{"command":"touch /tmp/telegram_training_log.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2592,-688],"id":"a86a0884-dc04-472d-a8a0-d0913ba93aea","name":"Activate Training Log Session1"},{"parameters":{"command":"rm -rf /tmp/telegram_training_log.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2976,-1232],"id":"3b18b2f7-5ded-47db-8893-b7ecf61e64cd","name":"Delete Training Log Session2"},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (zyklus:Trainingszyklus {name: \"{{ $('active_cycle').item.json[\"zyklus.name\"] }}\", status: \"aktiv\"})\nMATCH (tag:Wochentag {name: \"{{ $('Heutiges Training').item.json.wochentag }}\"})\n\n// Trainingstag erstellen oder finden\nMERGE (trainingstag:Trainingstag {datum: date()})\n\n// Beziehungen erstellen (nur wenn sie nicht existieren)\nMERGE (zyklus)-[:ENTHÄLT]->(tag)\nMERGE (tag)-[:HAT_TRAININGSTAG]->(trainingstag)\n\n// Übungssatz speichern\nCREATE (satzeinheit:TrainingsSatzeinheit {\n  übung: \"{{ $json['übung'] }}\",\n  sätze: \"{{ $json['sätze'] }}\",\n  datum: date(),\n  // Gewicht extrahieren (falls vorhanden)\n  gewicht: CASE\n           WHEN \"{{ $json['sätze'] }}\" CONTAINS \"kg\" THEN split(\"{{ $json['sätze'] }}\", \"\\n\")[0]\n           ELSE null\n           END\n})\n\nCREATE (trainingstag)-[:HAT_SATZ]->(satzeinheit)\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[5296,-480],"id":"827866a4-8285-409c-ac6e-53062a650f9c","name":"Insert Training Data","alwaysOutputData":true,"credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (zyklus:Trainingszyklus {status: \"aktiv\"})\nRETURN zyklus.name\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[3424,-496],"id":"37938ef2-f10c-44c4-a1fe-1ab05f8d820a","name":"active_cycle","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (satzeinheit:TrainingsSatzeinheit)\nWHERE satzeinheit.datum = date(\"{{$now.format('yyyy-MM-dd')}}\")\nRETURN satzeinheit.übung, satzeinheit.sätze"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[6304,-800],"id":"4ff901a5-9562-48a7-a7ad-3ce3cf2a32e6","name":"Last Training","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (tag:Wochentag {name: \"Thursday\"})-[:HAT_TRAININGSTAG]->(trainingstag:Trainingstag {datum: date()})\nMATCH (trainingstag)-[:HAT_SATZ]->(satzeinheit:TrainingsSatzeinheit)\nRETURN\n  satzeinheit.übung AS übung,\n  satzeinheit.sätze AS sätze,\n  satzeinheit.wiederholungen AS wiederholungen,\n  satzeinheit.gewicht AS gewicht,\n  trainingstag.datum AS datum\nORDER BY trainingstag.datum DESC"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[6528,-800],"id":"910da4ef-106c-46f9-a222-e53b2202c66f","name":"letzter Montag","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (tag:Wochentag {name: \"{{ $now.setLocale('en-EN').weekdayLong }}\"})-[:HAT_TRAININGSTAG]->(trainingstag:Trainingstag)\nORDER BY trainingstag.datum ASC\nLIMIT 1\nWITH MAX(trainingstag.datum) AS neuestesDatum\n\nMATCH (tag:Wochentag {name: \"{{ $now.setLocale('en-EN').weekdayLong }}\"})-[:HAT_TRAININGSTAG]->(trainingstag:Trainingstag {datum: neuestesDatum})\nMATCH (trainingstag)-[:HAT_SATZ]->(satzeinheit:TrainingsSatzeinheit)\nRETURN\n  satzeinheit.übung AS übung,\n  satzeinheit.sätze AS sätze,\n  satzeinheit.wiederholungen AS wiederholungen,\n  satzeinheit.gewicht AS gewicht,\n  trainingstag.datum AS datum\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[2864,-688],"id":"8f9d5a7a-c95d-4f03-9dcb-ee8285c518fd","name":"ExecuteQuery graphDb1","alwaysOutputData":true,"credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"518d6a0d-0c89-4422-92e9-48e47ec98649","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3072,-688],"id":"b7c8052e-f91e-48cc-a312-572e9b102c1d","name":"If2"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4432,-896],"id":"e1574e11-907b-4cec-ba6e-5e86285f915d","name":"Loop Over Items4"},{"parameters":{"chatId":"-4794524069","text":"=Übung: {{ $json.übung }} <a href=\"{{ $execution.resumeUrl }}\">!</a>\nLetzte Sets: {{ $json.sätze }}\nGewicht: {{ $json.gewicht }}\n\n\n","replyMarkup":"forceReply","forceReply":{"force_reply":true,"selective":false},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4752,-880],"id":"67f7dbd2-223b-4d9d-8734-345830500357","name":"Send a text message4","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4960,-880],"id":"d7ca5669-daba-41d1-880b-a8ce0e2874cb","name":"Wait3","webhookId":"1bd91725-ce8f-4773-9ab3-8205e6645cbe"},{"parameters":{"assignments":{"assignments":[{"id":"1ad7371d-e779-4bd1-bd8a-8a7b8003a035","name":"=sätze","value":"={{ $json.query.response }}","type":"string"},{"id":"515b12d8-8baa-492a-849e-743f3a972f6b","name":"übung","value":"={{ $('Loop Over Items4').item.json[\"übung\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5248,-880],"id":"893d9538-6189-429f-9419-e2fbeb2f6218","name":"Set Training Log Data3"},{"parameters":{"command":"rm -rf /tmp/telegram_training_log.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[4752,-1056],"id":"c398a419-0e66-4785-97ef-580e99e8b7f0","name":"Delete Training Log Session3"},{"parameters":{"chatId":"-4794524069","text":"=Session beendet","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4960,-1056],"id":"a973f3bd-6bdb-48b6-aee4-a84ed43fa22d","name":"Training Feedback3","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (zyklus:Trainingszyklus {name: \"{{ $('active_cycle1').item.json[\"zyklus.name\"] }}\", status: \"aktiv\"})\nMATCH (tag:Wochentag {name: \"{{ $now.setLocale('en-EN').weekdayLong }}\"})\n\n// Trainingstag erstellen oder finden\nMERGE (trainingstag:Trainingstag {datum: date()})\n\n// Beziehungen erstellen (nur wenn sie nicht existieren)\nMERGE (zyklus)-[:ENTHÄLT]->(tag)\nMERGE (tag)-[:HAT_TRAININGSTAG]->(trainingstag)\n\n// Übungssatz speichern\nCREATE (satzeinheit:TrainingsSatzeinheit {\n  übung: \"{{ $json['übung'] }}\",\n  sätze: \"{{ $json['sätze'] }}\",\n  datum: date(),\n  // Gewicht extrahieren (falls vorhanden)\n  gewicht: CASE\n           WHEN \"{{ $json['sätze'] }}\" CONTAINS \"kg\" THEN split(\"{{ $json['sätze'] }}\", \"\\n\")[0]\n           ELSE null\n           END\n})\n\nCREATE (trainingstag)-[:HAT_SATZ]->(satzeinheit)\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[5488,-880],"id":"1177e6a4-ce1a-4640-b45d-6fe8bfcfd61a","name":"Insert Training Data1","alwaysOutputData":true,"credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (zyklus:Trainingszyklus {status: \"aktiv\"})\nRETURN zyklus.name\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[3408,-896],"id":"7a09527e-20a1-4998-8cf3-02d82ef26514","name":"active_cycle1","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"=MATCH (tag:Wochentag {name: \"{{ $now.setLocale('en-EN').weekdayLong }}\"})-[:HAT_TRAININGSTAG]->(trainingstag:Trainingstag)\nORDER BY trainingstag.datum ASC\nLIMIT 1\nWITH MAX(trainingstag.datum) AS neuestesDatum\n\nMATCH (tag:Wochentag {name: \"{{ $now.setLocale('en-EN').weekdayLong }}\"})-[:HAT_TRAININGSTAG]->(trainingstag:Trainingstag {datum: neuestesDatum})\nMATCH (trainingstag)-[:HAT_SATZ]->(satzeinheit:TrainingsSatzeinheit)\nRETURN\n  satzeinheit.übung AS übung,\n  satzeinheit.sätze AS sätze,\n  satzeinheit.wiederholungen AS wiederholungen,\n  satzeinheit.gewicht AS gewicht,\n  trainingstag.datum AS datum\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[3648,-896],"id":"65d55356-2b34-4a9f-a136-d2f1606e984f","name":"ExecuteQuery graphDb2","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"MATCH (zyklus:Trainingszyklus {name: \"2 - Neuer Schwung\", status: \"aktiv\"})\nWITH zyklus, toInteger(zyklus.workoutdays_per_week) AS workoutdays_per_week, toInteger(zyklus.dauer_in_wochen) AS dauer_in_wochen\nMATCH (zyklus)-[:ENTHÄLT]->(tag:Wochentag)-[:HAT_TRAININGSTAG]->(trainingstag:Trainingstag)\nWITH zyklus, workoutdays_per_week, dauer_in_wochen, count(DISTINCT trainingstag) AS anzahl_trainingstage\nRETURN\n  zyklus.name AS zyklus_name,\n  anzahl_trainingstage,\n  (workoutdays_per_week * dauer_in_wochen) AS gesamt_trainingstage,\n  (toFloat(anzahl_trainingstage) / toFloat(workoutdays_per_week * dauer_in_wochen)) * 100 AS prozent_abgeschlossen\n"},"type":"n8n-nodes-neo4j.neo4j","typeVersion":1,"position":[4288,-1488],"id":"44945cc3-a9a7-485e-a542-73dbd848f8ac","name":"Anzahl der Trainingstage für Zyklus","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3680,-1488],"id":"ea709a68-f8a6-413a-bd11-b8140fd03d24","name":"Schedule Trigger1"},{"parameters":{"chatId":"-4794524069","text":"=Cycle beendet! Herzlichen Glückwunsch","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4784,-1504],"id":"9a7ea39d-eed3-4faa-bd57-ffeee129b767","name":"Trainings-Cycle beendet","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93079dc2-afb4-4641-afde-fb4d5d81be7e","leftValue":"={{ $json.anzahl_trainingstage }}","rightValue":"={{ $json.gesamt_trainingstage }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4496,-1488],"id":"5a591a36-0eff-4fcd-a8a8-751354cb2594","name":"Cycle Finish Check"},{"parameters":{"options":{"systemMessage":"=# **ROLLE & AUFGABE**\nDu bist ein **Fitness-Trainingsassistent**, der **ausschließlich das Neo4j-Tool \"Trainingsdatenbank\"** nutzt, um Trainingsdaten abzufragen und **klare, formatierte Antworten** zu geben.\n**Deine Aufgaben:**\n1. **Verstehe die Nutzerfrage** (z. B. \"Was habe ich letzten Montag trainiert?\").\n2. **Generiere die passende Cypher-Abfrage** (intern, ohne sie zu zeigen!).\n3. **Nutze das Tool \"Trainingsdatenbank\"**, um die Abfrage auszuführen.\n4. **Formatiere die Ergebnisse** als leicht lesbare Antwort (Tabellen, Listen, Fortschrittsanalysen).\n5. **Gib NIE Cypher-Code oder technische Details** an den Nutzer aus!\n\n---\n\n# **DATENBANKSTRUKTUR (INTERN)**\n### **Knoten:**\n- **Trainingszyklus**: Enthält Metadaten wie `name`, `status`, `workoutdays_per_week`, `dauer_in_wochen`.\n- **Wochentag**: Immer auf Englisch (`name: \"Monday\"`, `\"Tuesday\"`, etc.).\n- **Trainingstag**: Enthält `datum` (z. B. `date(\"2025-09-25\")`).\n- **TrainingsSatzeinheit**: Enthält Details zu Übungen (`übung`, `sätze`, `wiederholungen`, `gewicht`).\n\n### **Beziehungen:**\n- `(Trainingszyklus)-[:ENTHÄLT]->(Wochentag)`\n- `(Wochentag)-[:HAT_TRAININGSTAG]->(Trainingstag)`\n- `(Trainingstag)-[:HAT_SATZ]->(TrainingsSatzeinheit)`\n\n---\n\n# **REGELN FÜR DIE TOOL-NUTZUNG**\n1. **Wochentage IMMER auf Englisch** (z. B. \"Monday\" statt \"Montag\").\n2. **Datumshandling:**\n   - Nutze `date()` für das aktuelle Datum.\n   - Für dynamische Berechnungen (z. B. \"letzter Montag\") verwende:\n     ```cypher\n     WITH date() AS heute, datetime().dayOfWeek AS heutigerTagNumerisch\n     WITH heute,\n          CASE\n            WHEN heutigerTagNumerisch = 1 THEN 7\n            ELSE heutigerTagNumerisch - 1\n          END AS tageBisMontag\n     WITH date() - duration(\"P\" + tageBisMontag + \"D\") AS letzterMontag\n     ```\n3. **Duplikate vermeiden:** Nutze immer `DISTINCT` (z. B. `count(DISTINCT trainingstag)`).\n4. **Sortierung:** Neueste Daten zuerst → `ORDER BY trainingstag.datum DESC`.\n5. **Aktiver Zyklus:** Immer nach `{status: \"aktiv\"}` filtern.\n\n---\n\n# **ANTWORTFORMAT (STRIKT EINHALTEN!)**\n1. **Kein Cypher-Code oder technische Details** in der Antwort!\n2. **Tabellenformat für Trainingsdaten:**\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3504,2800],"id":"49af39ea-cb01-4963-943c-cf69d2654f31","name":"AI Agent"},{"parameters":{"model":"mistral-medium","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[3328,3040],"id":"9a99b342-84cc-4825-8ebe-7a70c7fab653","name":"Mistral Cloud Chat Model11","credentials":{"mistralCloudApi":{"id":"txxq6WpKaKM3E42X","name":"Mistral Cloud account"}}},{"parameters":{"resource":"graphDb","cypherQuery":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cypher_Query', ``, 'string') }}"},"type":"n8n-nodes-neo4j.neo4jTool","typeVersion":1,"position":[3712,3072],"id":"c0c70057-4ee2-4d71-a174-d022c66d3dbf","name":"Trainingsdatenbank","credentials":{"neo4jApi":{"id":"PnADSyCcSzFia2ec","name":"Neo4j account"}}},{"parameters":{"method":"POST","url":"https://polarremote.com/v2/oauth2/token","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6752,2512],"id":"f47ce5a4-de24-4410-a31b-3aac05df4f2c","name":"Polar","credentials":{"oAuth2Api":{"id":"TWogbPlClLCsT2bt","name":"Polar Account"}}},{"parameters":{"chatId":"-4794524069","text":"={{ $('ExecuteQuery graphDb2').all().map(item => item.json.übung) }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3920,-768],"id":"bd9cd556-51e4-4954-a65a-0b0a12faef79","name":"Workout Summary","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","executeOnce":true,"credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"chatId":"-4794524069","text":"={{ $('Heutiges Training').all().map(item => item.json.übung) }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3952,-304],"id":"9296fc55-23b8-4ee6-8ba1-258ce5a9c763","name":"Workout Summary 2","webhookId":"6abefef1-8db1-41d4-9fe2-18cc57a48cba","executeOnce":true,"credentials":{"telegramApi":{"id":"uixAOGqq9dBiAqfR","name":"Telegram account"}}},{"parameters":{"options":{}},"id":"7dd5d06c-7f5d-4688-b560-ab9f5014a2f5","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[928,5648]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"3703c0c1-d401-4692-bcb8-e072b146b66a","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1120,5648]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"22de702d-2851-4f92-ad6b-b9a6f2c5f7da","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1328,5648]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"Ba-ha-ma-ma-ma","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/Ba-ha-ma-ma-ma/n8n-workflows"},"filePath":"="},"id":"9c1e7dfe-650f-453c-a6a6-2d7129fabe24","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1520,5648],"alwaysOutputData":true,"webhookId":"02931d7c-44d2-4d8d-8bba-a1098b43d827","credentials":{"githubOAuth2Api":{"id":"GMi8tEOM1VMw1fmk","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"9feae682-48ca-4db8-8fa0-f01f9121babc","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1728,5648]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"ZVhoZjA7JlzVBkbD","mode":"list","cachedResultName":"Coach (#ZVhoZjA7JlzVBkbD)"},"requestOptions":{}},"id":"410c8b31-8cef-4707-a8d5-b7cd83ff308c","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1936,5648],"credentials":{"n8nApi":{"id":"BTbccKM8iwGGlG2R","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"d1118110-d4f8-4e1f-a796-7c2d37555a2e","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2128,5648]},{"parameters":{"batchSize":1,"options":{}},"id":"228f57a4-4c99-4a8c-ba56-fee390f5292b","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2368,5648]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0ea31cd1-dbe7-4b93-b2fb-d95635dd5540","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2608,5568]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"Ba-ha-ma-ma-ma","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/Ba-ha-ma-ma-ma/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"c6f86c9a-9960-40b7-9752-7922173c4943","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2832,5376],"webhookId":"0b408a72-efd5-4d01-a70a-4f7a1d4b8e81","credentials":{"githubOAuth2Api":{"id":"GMi8tEOM1VMw1fmk","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"Ba-ha-ma-ma-ma","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/Ba-ha-ma-ma-ma/n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"f8060106-8e26-4d24-824c-202b8332482c","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2832,5776],"webhookId":"3b1a0831-e6e9-40db-b743-8a27e4d9233b","credentials":{"githubOAuth2Api":{"id":"GMi8tEOM1VMw1fmk","name":"GitHub account"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"b0106fad-5e4b-4e1e-bca6-9d9965d6a9b2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,5488]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"e30a1d4a-c0bc-4759-974d-46adac2f59f8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,5488]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"50bf6760-f273-4c5f-bf7d-53d2a0f57693","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1488,5488]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"2c563e96-c9e9-492f-a524-d16dae4b9a5c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1904,5488]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"5d2ba2fb-5199-46ca-b192-3687faddae7e","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,5232]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":234.82946582693546,"width":508.8662091091177},"id":"5cfff72f-e092-4140-8787-35550535a4bb","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,5232]},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[720,5648],"id":"5c1dd503-f829-4ab0-84a4-fe5c0c253b37","name":"n8n Trigger"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4224,-896],"id":"a3f474ac-c1e4-42ce-9aca-46a8e40af2ca","name":"Wait1","webhookId":"7e2f16c1-e67b-4a4c-8f91-e20c17537875"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Mistral Cloud Chat Model9":{"ai_languageModel":[[{"node":"Training Cycle Extractor","type":"ai_languageModel","index":0}]]},"Training Cycle Extractor":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"1 Message","type":"main","index":0}],[{"node":"Insert Workout into Database","type":"main","index":0}]]},"Heutiges Training":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Workout Summary 2","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Distributor1","type":"main","index":0}]]},"Distributor1":{"main":[[{"node":"Send Coach Instructions1","type":"main","index":0}],[{"node":"Activate Training Log Session1","type":"main","index":0}],[{"node":"Activate Journal Session1","type":"main","index":0}],[],[{"node":"Check Session Status1","type":"main","index":0}]]},"Session Handler1":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[],[{"node":"Audio or Text","type":"main","index":0}]]},"Check Session Status1":{"main":[[{"node":"Session Handler1","type":"main","index":0}]]},"Activate Journal Session1":{"main":[[{"node":"Journal Einladung1","type":"main","index":0}]]},"Get a file1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Training Cycle Extractor","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Training Cycle Extractor","type":"main","index":0}]]},"Audio or Text":{"main":[[{"node":"Get a file1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Summarization Chain":{"main":[[]]},"Mistral Cloud Chat Model10":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Delete Training Log Session1","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}]]},"Send a text message3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Set Training Log Data","type":"main","index":0}]]},"Set Training Log Data":{"main":[[{"node":"Insert Training Data","type":"main","index":0}]]},"Delete Training Log Session1":{"main":[[{"node":"Training Feedback2","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Insert Workout into Database":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"1 Message":{"main":[[{"node":"Cycle angelegt","type":"main","index":0}]]},"Cycle angelegt":{"main":[[{"node":"Delete Journal Session1","type":"main","index":0}]]},"Check Workouts in Cycle":{"main":[[]]},"HTTP Request":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Activate Training Log Session1":{"main":[[{"node":"ExecuteQuery graphDb1","type":"main","index":0}]]},"Insert Training Data":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"active_cycle":{"main":[[{"node":"Heutiges Training","type":"main","index":0}]]},"letzter Montag":{"main":[[]]},"Last Training":{"main":[[]]},"ExecuteQuery graphDb1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"active_cycle1","type":"main","index":0}],[{"node":"active_cycle","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Delete Training Log Session3","type":"main","index":0}],[{"node":"Send a text message4","type":"main","index":0}]]},"Send a text message4":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Set Training Log Data3","type":"main","index":0}]]},"Set Training Log Data3":{"main":[[{"node":"Insert Training Data1","type":"main","index":0}]]},"Delete Training Log Session3":{"main":[[{"node":"Training Feedback3","type":"main","index":0}]]},"Insert Training Data1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"active_cycle1":{"main":[[{"node":"ExecuteQuery graphDb2","type":"main","index":0}]]},"ExecuteQuery graphDb2":{"main":[[{"node":"Workout Summary","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Anzahl der Trainingstage für Zyklus","type":"main","index":0}]]},"Anzahl der Trainingstage für Zyklus":{"main":[[{"node":"Cycle Finish Check","type":"main","index":0}]]},"Cycle Finish Check":{"main":[[{"node":"Trainings-Cycle beendet","type":"main","index":0}]]},"Mistral Cloud Chat Model11":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Trainingsdatenbank":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Workout Summary":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Workout Summary 2":{"main":[[]]},"Wait1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Daily End of Cycle Status":{"recurrenceRules":[]},"node:Daily Reminder":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":896249519,"message":{"message_id":2450,"from":{"id":7832749280,"is_bot":false,"first_name":"Alexander","last_name":"Stauber","language_code":"de"},"chat":{"id":-4794524069,"title":"Coach JARVIS","type":"group","all_members_are_administrators":true,"accepted_gift_types":{"unlimited_gifts":false,"limited_gifts":false,"unique_gifts":false,"premium_subscription":false}},"date":1760383653,"text":"/training","entities":[{"offset":0,"length":9,"type":"bot_command"}]}}}]},"versionId":"dc7f1d74-e72f-4f71-b3f5-3c0bcbd6a124","triggerCount":4,"shared":[{"createdAt":"2025-06-21T18:03:51.189Z","updatedAt":"2025-06-21T18:03:51.189Z","role":"workflow:owner","workflowId":"ZVhoZjA7JlzVBkbD","projectId":"oPYuCz03gq7MXDGN","project":{"createdAt":"2025-01-23T19:43:40.686Z","updatedAt":"2025-09-17T14:23:21.228Z","id":"oPYuCz03gq7MXDGN","name":"Alexander Stauber <n8n@stauber-home.de>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-01-23T19:43:40.687Z","updatedAt":"2025-01-23T19:43:40.687Z","userId":"21686c25-af1d-4cd8-bbe9-edbd09a0c49b","projectId":"oPYuCz03gq7MXDGN","user":{"createdAt":"2025-01-23T19:43:39.950Z","updatedAt":"2025-10-13T07:48:44.000Z","id":"21686c25-af1d-4cd8-bbe9-edbd09a0c49b","email":"n8n@stauber-home.de","firstName":"Alexander","lastName":"Stauber","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-01-23T21:02:54.799Z","personalization_survey_n8n_version":"1.75.2","companyType":"personal","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"tdPJKH3hn9r09q4e","userActivatedAt":1738225276645,"npsSurvey":{"responded":true,"lastShownAt":1755863000751},"dismissedCallouts":{"ragStarterCallout":true}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2025-10-12","isPending":false}}]}}],"tags":[]}